extends layout

block scripts
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://fb.me/react-with-addons-0.14.0.js")
  script(src="https://fb.me/react-dom-0.14.0.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet" href="/stylesheets/dashboard.css")

block content
  #dashboard
  script(src="/js/dashboard.js")
