extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/login.css")

block content
    #global-container
        #stripes
            #s1
            #s2
            #s3
            #s4
            #s5
            #s6

        #title-container
            h1#title lyte
            a#login(href="/auth/facebook") f Login
