extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/login.css")

block content
    #global-container
        #stripes
            #s1
            #s2
            #s3
            #s4
            #s5
            #s6

        #title-container
            h1#title lyte
            a#login(href="/auth/facebook") 
                img(src="http://static1.squarespace.com/static/5448f618e4b0af2717dc812f/5512a444e4b0cd183ba279de/5512c3d2e4b0a07e16770b23/1427293139578/facebook-logo-f-sqaure.png", width=120)
